# Postgres configs
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# App configs
NODE_ENV=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=${POSTGRES_USER}
DATABASE_PASSWORD=${POSTGRES_PASSWORD}
DATABASE_NAME=${POSTGRES_DB}

# Prisma URL (para Prisma Client)
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${POSTGRES_DB}
